
body{
    border: solid red 1px;
    width: 500px;
    margin: 0 auto;
}

#thankYou{
    border: solid red 1px;
    width: 400px;
 
    background-color:  hsl(213, 19%, 18%);
   display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
   
}

#black, #black2, #black3, #black4, #black5{
   width: 30px;
   border: solid red 1px;
   height: 30px;
   border-radius: 45%;
   display: flex;
   justify-content: center; /* Horizontal centering */
      align-items: center;  
}


#black:hover, #black2:hover, #black3:hover, #black4:hover, #black5:hover{
   background-color: orange;
}
#vote-container{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 40px;
  
    justify-content: space-around;
}

#thankYou p, h3{
  
   text-align: center;
    padding: 20px;
 
}

#thankYou img{
    text-align: center;
}


