
body{
 
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#thankYou{
 
    width: 400px;
 
    background-color:  hsl(213, 19%, 18%);
   display: none;
  
   
}

#black, #black2, #black3, #black4, #black5{
   width: 30px;
   border: solid hsl(216, 12%, 8%);
   color: hsl(217, 12%, 63%);
   background-color:hsl(213, 19%, 18%);
   height: 30px;
   border-radius: 45%;
   display: flex;
   justify-content: center; /* Horizontal centering */
      align-items: center;  
}


#black:hover, #black2:hover, #black3:hover, #black4:hover, #black5:hover{
   background-color: orange;
}
#vote-container{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 40px;
  
    justify-content: space-evenly; 
}

#thankYou p, h3{
  
   text-align: center;
    padding: 20px;
   
 
}

#thankYou img{
    text-align: center;
}

#btn{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    background-color: hsl(25, 97%, 53%);
    border: solid hsl(25, 97%, 53%) ;

  
}

p, h2{
   
    width: 300px;
    color: hsl(217, 12%, 63%);
    margin-left: 35px
}

section{
   
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}